<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.mapper.SUserMapper">
  <resultMap id="BaseResultMap" type="com.sc.pojo.SUser">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="QQ" jdbcType="DECIMAL" property="qq" />
    <result column="PHONE" jdbcType="DECIMAL" property="phone" />
    <result column="SEX" jdbcType="CHAR" property="sex" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, PASSWORD, QQ, PHONE, SEX, EMAIL, STATE, CREATETIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from S_USER
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from S_USER
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.sc.pojo.SUser">
    insert into S_USER (ID, NAME, PASSWORD, 
      QQ, PHONE, SEX, EMAIL, 
      STATE, CREATETIME)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{qq,jdbcType=DECIMAL}, #{phone,jdbcType=DECIMAL}, #{sex,jdbcType=CHAR}, #{email,jdbcType=VARCHAR}, 
      #{state,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.pojo.SUser">
    insert into S_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="qq != null">
        QQ,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=DECIMAL},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=DECIMAL},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.pojo.SUser">
    update S_USER
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        QQ = #{qq,jdbcType=DECIMAL},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=DECIMAL},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=CHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.pojo.SUser">
    update S_USER
    set NAME = #{name,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=DECIMAL},
      PHONE = #{phone,jdbcType=DECIMAL},
      SEX = #{sex,jdbcType=CHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=DECIMAL},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>